:root {
    --primary-color: #000000;
    --secondary-color: #6d6d6d;
    --third-color: #ffffff;
    --fourth-color: #bdbdbd;
    --text-color: #000000;
    --secondary-text-color: #ffffff;
}

body {
    font-family: "Inter", sans-serif;
}